/**
 * Styles used within this project.
 *
 * @package AMP Publisher
 * @subpackage Accelerate Patterns
 * @since 1.0
 * @version 1.0.0
 */

.tacwp-notice{position:fixed;z-index:999999;top:20vh;left:calc(50% - 150px);width:300px;background:#fff;color:#08356C;padding:10px 20px;border-radius:10px;border:#08356C double 3px;box-shadow:#08356C 3px 3px 5px;text-align:center;font-size:18px;line-height:1.5em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.tacwp-notice.iserror{color:#F00;}
.tacwp-editor-toolbar-section{box-shadow:#08356c 0 3px 8px -4px inset;border-top:#08356c 4px double;border-bottom:#08356c 4px double;border-radius:16px;color:#08356c;margin-left:10px;}
.tacwp-editor-toolbar-section > .components-button{color:#08356c;border-radius:12px;}
.tacwp-editor-toolbar-section > .components-button > i{margin-right:5px;}
.tacwp-editor-toolbar-section > .components-button:hover{box-shadow:#ffffff 0 -3px 8px 0 inset;background:#08356c;color:#ffffff;border-color:#ffffff;}
.tacwp-editor-toolbar-section > .components-button:hover{color:#ffffff;}
#accpattern textarea{width:100%;}
.pattern-preview{
	height:150px;
	overflow:hidden;
	padding:15px;
	box-shadow:#08356c 0 3px 8px -4px inset;
	border-top:#08356c 4px double;
	border-bottom:#08356c 4px double;border-radius:16px;
}
.pattern-preview > .pwrap{
	transform: scale(.5);
	width: 200%;
	margin-left: -50%;
	margin-top: -75px;
	height:300px;
}
.pattern-preview > .pwrap > object.preview-object,
.pattern-preview > .pwrap > object.preview-object > embed{
	width:100%;
	height:100%;
}
.post-type-accpattern .column-pattern_description,
.post-type-accpattern .column-title {width: 20% !important;}
.post-type-accpattern .column-pattern_preview{width: 40% !important;}
